#app-main {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #333;
    color: #fff;
    overflow: hidden;
    height: 100%;
}

.app-wrap {
    display: flex;
    flex-direction: row;
}

.left-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.right-wrap {
    flex: 1;
    background: #eaeaea;
}

.title-wrap {
    display: flex;
    justify-content: center;
    border: 2px solid #eaeaea;
    background: #333;
    width: 500px;
}

@media (max-width: 768px) {
    #app-main {
      overflow: auto;
    }
    .app-wrap {
        display: flex;
        flex-direction: column;
    }
    .right-wrap {
      flex: 0;
      height: 80vh;
    }
    .left-wrap {
      justify-content: start;
      margin-top: 4vh;
      height: 20vh;
    }
  }

@media(max-width: 531px) {
    .title-wrap {
        width: 250px;
    }
}

@media(max-width: 355px) {
    .title-wrap {
        width: 175px;
    }
}